accelerate==0.26.1
apiwrapper==0.1.8
cpm-kernels==1.0.11
faiss-cpu==1.7.4
fastapi==0.109.2
Flask==3.0.1
gradio==3.43.2
langchain==0.0.345
langchain-community==0.0.17
langchain-core==0.1.18
langchain-openai==0.0.5
langsmith==0.0.83
openai==0.28.0
protobuf==3.20.3
pypdf==4.0.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
tokenizers==0.15.1
torch==2.0.1+cu117
torchvision==0.15.2+cu117
tqdm==4.66.1
transformers==4.37.1
uvicorn==0.27.0
